<div class="container">
  <%obj.each do |obj|%>
  <div class="row justify-content-md-center">   
		<div class="card border-success m-2 col-8 shadow p-3 mb-5 bg-white rounded">
			<div class="card-header bg-transparent border-success font-italic">by <%=
			link_to obj.user.name, user_path(obj.user)%></div>
  		<div class="card-body text-success">
  		  <h4 class="m-2"><%= link_to obj.title, article_path(obj.id), class: "text-success"%></h4>
  		  <p class="card-text text-center"><%= truncate(obj.description, length: 100)%></p>
  		  <a><%=link_to "View", article_path(obj.id), class: "btn btn-outline-success m-2" %> <a>
 		 	 	<a><%=link_to "Edit", edit_article_path(obj.id), class: "btn btn-outline-primary m-2" %> <a>
 		  	<a><%=link_to "Delete", article_path(obj.id), method: :delete, class: "btn btn-outline-danger m-2" %> <a>
  			<div class="card-footer bg-transparent border-success text-center mt-2 pb-0 mb-0">
					Created at: <%=time_ago_in_words(obj.created_at)%> ago.
					Last updated: <%=time_ago_in_words(obj.updated_at)%> ago.</div>
			</div>
   </div>
	</div>
	<%end%>
</div>	