<h1 class="text-center mt-4">Alpha bloggers</h1>
<div class="container">
  <%@users.each do |user|%>
  <div class="row justify-content-md-center">   
		<div class="card border-success m-2 col-8 shadow p-3 mb-5 bg-white rounded">
		  <div class="card-header bg-transparent border-success font-italic"><%=user.name%></div>
  		<div class="card-body text-success">
  		  <h4 class="m-2 card-title"><%= link_to gravatar_for(user, size: 150), user%></h4>
        <h4 class="m-2 card-text"><%= pluralize(user.articles.count, 'Article')%></h4>
          <%=link_to "View profile", user, class: "btn btn-outline-success m-2" %>
          <%=link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-primary m-2" %>
  			<div class="card-footer bg-transparent border-success text-center mt-2 pb-0 mb-0">
					Joined: <%=time_ago_in_words(user.created_at)%> ago.
					Last updated: <%=time_ago_in_words(user.updated_at)%> ago.</div>
			</div>
    </div>
	</div>
	<%end%>
</div>
