<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%if logged_in? %>
    <%= link_to "Stan's Blog", articles_path, class: "nav-brand", id: "logo"%>
  <%else%>
     <%= link_to "Stan's Blog", root_path, class: "nav-brand", id: "logo"%>
   <%end%>   
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="drop-down-menu">
            <div class="for-marging">  
              <%=link_to "All articles", articles_path, class: "dropdown-item" %>
              <%if logged_in?%>
                <div class="dropdown-divider"></div>
                <%=link_to "New article", new_article_path, class: "dropdown-item" %>
              <%end%>
            </div>
          </div>
        </li>
      </li>
       <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="drop-down-menu">
            <div class="for-marging">  
              <%=link_to "All users", users_path, class: "dropdown-item" %>
            </div>
          </div>
        </li>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="drop-down-menu">
          <div class="for-marging">  
            <%=link_to "About page", about_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%=link_to "Contact me", contacts_path, class: "dropdown-item" %>
          </div>
        </div>
      </li>
      <%if logged_in? %>
        <li class="nav-item">
          <%=link_to "Log Out", login_path, method: :delete, class: "nav-link mt-2"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "Admin " if current_user.admin?%><%=current_user.name%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="drop-down-menu">
            <div class="for-marging">  
              <%=link_to "View profile", current_user, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%=link_to "Edit profile", edit_user_path(current_user), class: "dropdown-item" %>
               <div class="dropdown-divider"></div>
              <%=link_to "Close account", user_path(current_user), method: :delete, class: "dropdown-item text-danger", data: {confirm: "Are you sure you want to delete this account?"} %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%=link_to "Log In", login_path, class: "nav-link mt-2"%>
        </li>
        <li class="nav-item">
          <%=link_to "Sign Up", signup_path, class: "nav-link mt-2"%>
        </li>
      <%end%>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>